In [91]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
matplotlib.use("Agg")

In [92]:
data = pd.read_csv('svm_training.csv')

In [93]:
# generating training heatmap
req = data[data['anomaly'] == True]
req = req[['intensity', 'type', 'ci']]
req['intensity'] = req['intensity']/16
req['ci_category'] = req['ci'].round(decimals=3)
bins = [1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, float('inf')]
labels = ['T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9']
req['timeline'] = pd.cut(req['ci_category'], bins = bins, labels=labels).astype('string').fillna('T0')

In [94]:
req = req.drop(columns = ['ci', 'ci_category'])
req['timeline'] = pd.Categorical(req['timeline'], categories=['T0', 'T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'T10'], ordered=True)

In [95]:
req.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8380 entries, 1 to 14266
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   intensity  8380 non-null   float64
 1   type       8380 non-null   object
 2   timeline   8380 non-null   category
dtypes: category(1), float64(1), object(1)
memory usage: 205.0+ KB

In [96]:
heatmap_data = req.pivot_table(index='type', columns='timeline', values = 'intensity', aggfunc = 'mean')

In [97]:
heatmap_data

timeline,T0,T1,T2,T3,T4,T5,T6,T7,T8,T9
type,,,,,,,,,,
cpu,0.706349,0.677912,0.664187,0.634507,0.643626,0.647169,0.611584,0.572877,0.574755,0.533065
io,0.665064,0.703301,0.709790,0.691604,0.706656,0.688742,0.701018,0.732021,0.775000,0.648975
memory,0.457849,0.451562,0.449640,0.468528,0.495025,0.480263,0.466588,0.503178,0.375000,0.522173

In [98]:
plt.figure(figsize=(10, 8))
sns.heatmap(heatmap_data, annot =True, cmap = 'coolwarm')
plt.xlabel('Intensity')
plt.ylabel('Type')

Text(95.72222222222221, 0.5, 'Type')

In [99]:
plt.savefig('training_distribution.png')